<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geboekt - lees eens een boek</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/jquery.fullpage.css' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css' />

    <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

<section class="geboekt-app">
    <div id="fullpage">
        <div class="section">
            <div class="container hero hero-herman">
                <div class="center">
                    <h2 class="title-container">
                        <img class="title" src="/images/<%= banner.title %>" />
                    </h2>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <img class="book-cover" src="/images/<%= book.cover %>" />
                <h2 class="book-title"><%= book.title %></h2>
                <div class="book-author"><%= book.author %></div>
                <div class="book-short"><%= book.short %></div>
                <div class="book-long-btn" id="book-long-btn">Lees meer over dit boek</div>
                <div class="book-long"><%= book.long %></div>
                <div class="book-quote"><%= book.review.quote %></div>
                <div class="book-stars">
                    <img src="/images/star.png" />
                    <img src="/images/star.png" />
                    <img src="/images/star.png" />
                    <img src="/images/star.png" />
                </div>
                <div class="navigate">
                    <img src="/images/nav.png" />
                    <p>Je bent in de bib. Wat is jouw excuus?</p>
                </div>
                <div class="reserve">
                    <div class="reserve-btn" id="reserve-btn">
                        Gadet doen? Reserveer dit boek!
                    </div>
                    <input type="text" id="bibno" class="reserve-input" />
                    <div class="reserve-msg" id="reserve-msg">Geslaagd!</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/javascripts/jquery.fullpage.js"></script>
<script src="/javascripts/modernizr.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>