<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geboekt - lees eens een boek</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/jquery.fullpage.css' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css' />
</head>
<body>

<section class="geboekt-app">
    <div id="fullpage">
        <div class="section">
            <div class="container hero hero-herman">
                <div class="center">
                    <h2 class="title-container">
                        <img class="title" src="/images/<%= banner.title %>" />
                    </h2>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <img class="book-cover" src="/images/<%= book.cover %>" />
                <h2 class="book-title"><%= book.title %></h2>
                <div class="book-author"><%= book.author %></div>
                <div class="book-short"><%= book.short %></div>
                <div class="book-long"><%= book.long %></div>
                <div class="book-quote"><%= book.quote %></div>
                <div class="navigate">
                    <img src="/images/nav.png" />
                    <p>Je bent amper 600m van de bib verwijderd. Wat is jouw excuus?</p>
                </div>
                <div class="reserve">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/javascripts/jquery.fullpage.js"></script>

<script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            navigation: true,
            navigationPosition: 'right',
            css3: true,
            scrollingSpeed: 400,
            controlArrows: true
        });
    });
</script>

</body>
</html>